body {
    margin: 0;
    padding: 0;
    border: 0;
}

h1 {
    text-align: center;
}

form {
    margin: 100px auto;
    width: 800px;
    display: block;
    background-color: darkgrey;
    border-radius: 15px;
    padding: 30px;
}

#pesquisa{
    width: 100%;
}

table{
    background-color: rgb(218, 218, 218);
    margin: 20px 0;
    width: 100%;
    max-height: 300px;
    overflow: auto;
    border-radius: 10px;
    text-align: left;
}

#dropdown {
    position: absolute;
    width: 800px;
    max-height: 200px;
    overflow-y: auto;
    border: 1px solid #ccc;
    border-top: none;
    background-color: white;
    display: none;
    z-index: 1;
}

.dropdown-content div {
    padding: 8px;
    cursor: pointer;
}

.dropdown-content div:hover {
    background-color: #f1f1f1;
}